# conda environment description file for Reshapr package
# development environment
#
# Create a conda environment for development, testing and documentation of the package
# with:
#
#   $ conda env create -f Reshapr/envs/environment-dev.yaml
#   $ conda activate reshapr-dev
#
# See the envs/requirements.txt file for an exhaustive list of all the
# packages installed in the environment and their versions used in
# recent development.

name: reshapr-dev

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - bottleneck
  - click
  - dask
  - flox
  - h5netcdf
  - netCDF4
  - pip
  - python=3.14
  - pyyaml
  - rich
  - structlog
  - xarray

  # For coding style, repo QA, and pkg management
  - black
  - hatch
  - pre-commit

  # For unit tests
  - coverage
  - pytest-cov
  - pytest-randomly
  - tomli

  # For documentation
  - sphinx==8.1.3
  - sphinx-notfound-page==1.0.4
  - sphinx-rtd-theme==3.0.0

  - pip:
    # install of Reshapr package in editable mode
    - --editable ../
